.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .featureList {
    grid-template-columns: 1fr;
  }
}

.featureItem {
  text-align: center;
  padding: 1rem;
}

.featureItem h3 {
  margin-bottom: 0.5rem;
}

.featureSvg {
  height: 80px;
  width: 80px;
  margin-bottom: 1rem;
}
